.hero{
    background-color: $light-beige;
    
    .swiper-slide{
        opacity: 0;
        transition: opacity 1s;
        &-active{
            opacity: 1;
            transition: opacity 1s;
        }
    }
    @include mobile(){
        .arrow-button{
            svg{
                height: 48px;
            }
        }
    }
    &__slider{
        overflow: hidden;
        &-wrapper{
            display: flex;
        }
        
        &-pagination-box{
            position: absolute;
            bottom: 5%;
            width: 100%;
            &-inner{
                display: flex;
                justify-content: space-between; 
            }
            &-left{
                display: flex;
                flex-direction: row;
                column-gap: 32px;
                align-items: center;
                @include mobile(){
                    column-gap: 20px;
                }
            }
            .swiper-pagination{
                margin-right: -30px;
                @include tablet(){
                    margin-right: 0;
                }
                @include mobile(){
                    display: none;
                }
            }
        }
    }
    &__slide{
        display: flex;
        align-items: flex-start;
        height: calc(100vh - 148px);
        box-sizing: border-box;
        min-width: 100%;
        position: relative;
        overflow: hidden;
        @include tablet(){
            height: calc(100vh - 112px);
        }
        @include mobile(){
            height: calc(100vh - 72px);
        }
        &-container{
            position: relative;
            max-width: 1548px;
            padding: 0 40px;
            width: 100%;
            margin: 0 auto;
            box-sizing: border-box;
            height: 100%;
            @include mobile(){
                padding: 0 16px;
            }
        }
        &-content{
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 40px;
            z-index: 3;
            row-gap: 32px;
            max-width: 744px;
            top: 19%;
            @media (max-width:1800px){
                top: 15%;
            }
            @include laptop(){
                max-width: 604px;
            }
            @include tablet(){
                max-width: 360px;
            }
            @include mobile(){
                top: 40px;
                left: 16px;
                right: 16px;
                row-gap: 20px;
            }
            svg{
                @include mobile(){
                    display: none;
                }
            }
           
            &_line-1{
                // &::after{
                //     content: "";
                //     position: absolute;
                //     background: url(/images/hero/btn-line-1.webp);
                //     background-repeat: no-repeat;
                //     background-size: contain;
                //     width: 1100px;
                //     bottom: -50%;
                //     left: -30%;
                //     height: 500px;
                //     object-fit: contain;
                //     z-index: -1;

                //     @include tablet(){
                //         width: 200%;
                //         height: 100%;
                //     }
                // }
                svg{
                    position: absolute;
                    bottom: -100%;
                    left: -30%;
                    @include tablet(){
                        width: 500px;
                        height: 400px;
                        left: -20%;
                        bottom: -40%;
                    }
                }
            }
            &_line-2{
                // &::after{
                //     content: url('/images/hero/btn-line-2.webp');
                //     position: absolute;
                //     left: -30%;
                //     bottom: 2%;  
                //     z-index: -1;
                //     width: 100%;
                //     height: auto;
                    
                // }
                svg{
                    position: absolute;
                    bottom: 0%;
                    left: -30%;
                    @include tablet(){
                        width: 248px;
                        height: 274px;
                        left: -40%;
                        bottom: 5%;
                    }
                }
            }
            &_line-3{
                // &::after{
                //     content: url('/images/hero/btn-line-3.webp');
                //     position: absolute;
                //     left: 15%;
                //     bottom: 8%;
                //     z-index: -1;
                //     width: 100%;
                //     height: auto;
                // }
                svg{
                    position: absolute;
                    bottom: 12%;
                    left: 16%;
                    @include tablet(){
                        width: 498px;
                        height: 289px;
                        left: 1%;
                        bottom: 10%;
                    }
                }
            }
            &_line-4{
                svg{
                    position: absolute;
                    bottom: -57%;
                    left: 20%;                             
                    @include tablet(){
                        width: 342px;
                        height: 317px;
                        left: 42%;
                        bottom: -55%;
                    }
                }
                // &::after{
                //     content: url('/images/hero/btn-line-4.webp');
                //     position: absolute;
                //     left: 20%;
                //     bottom: -67%;
                //     z-index: -1;
                //     width: 100%;
                //     height: auto;
                // }
                
            }
            &_line-5{
                // &::after{
                //     content: url('/images/hero/btn-line-5.webp');
                //     position: absolute;
                //     left: 4%;
                //     bottom: -65%;
                //     z-index: -1;
                //     width: 100%;
                //     height: auto;
                // }
                svg{
                    position: absolute;
                    bottom: -57%;
                    left: 4%;                           
                    @include tablet(){
                        width: 400px;
                        left: 10%;
                        bottom: -60%;
                    }
                }
            }
        }
    }
    &__text{
        max-width: 620px;
        line-height: 35px;
    }
    &__img{
            height: 100%;   
            width: 100%;
            @include laptop(){
                transform: translateX(20%);
            }
            @include mobile(){
                transform: translateX(0);
            }
        &-wrapper{
            position: absolute;
            z-index: 1;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            z-index: 1;
            @include mobile(){
                transform: translateY(10px);
            }
            &::before{
                content: '';
                position: absolute;
                left: -30%;
                top: 0;
                width: 70%;
                height: 100%;
                z-index: 2;
                background: linear-gradient(90deg, #FCFAF7 49.18%, rgba(252, 250, 247, 0) 69.03%);
                @include laptop(){
                    left: 0%;
                }
            }
            @include mobile(){
                transform: translateX(0);
                width: 100%;
                height: auto;
                bottom: 0;
                top: unset;
                &::before{
                    content: '';
                    position: absolute;
                    transform: rotate(80deg);
                    top: -55%;
                    width: 100%;
                    height: 110vw;
                    z-index: 2;
                    background: linear-gradient(90deg, #FCFAF7 49.18%, rgba(252, 250, 247, 0) 69.03%);
                }
            }
        }
    }
    &__button{
        width: fit-content;
        position: relative;
        @include primary-button-large();
        @include tablet(){

        }
    }
}