.service-block{
    .container{
        @include mobile(){
            padding: 0;
        }
    }
    .section-header{
        @include mobile(){
            padding: 0 16px;
            box-sizing: border-box;
        }
    }
    &__wrapper{
        display: flex;
    }
    &__slider{
        overflow: hidden;
        &-controls{
            @include tablet(){
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 40px;
            }
            @include mobile(){
                margin-top: 28px;
                padding: 0 16px;
                box-sizing: border-box;
            }
        }
        &-pagination{
            position: absolute;
            bottom: 48px;
            right: 32px;
          
            .swiper-pagination-bullet{
                background-color: white;
                &-active{
                    background-color: $gold;
                }
            }
            @include tablet(){
                position: static;
                .swiper-pagination-bullet{
                    background-color: black;
                    &-active{
                        background-color: $gold;
                    }
                }
            }
        }
        &-wrapper{
            position: relative;
        }
        &-button{
            position: absolute;
            top: 50%;
            @include tablet(){
                position: static;
            }
            &_prev{
                left: 0;
                transform: translate(-50%, -50%);
                @include tablet(){
                    transform: none;
                }
            }
            &_next{
                right: 0;
                transform: translate(50%, -50%);
                @include tablet(){
                    transform: none;
                }
            }
        }
        &-counter{
            position: absolute;
            bottom: 32px;
            left: 32px;
            @include tablet(){
                bottom: 121px;
                left: 24px;            
            }
        }
    }
    
    &__slide{
        position: relative;
        min-width: 100%;
        height: 600px;
        height: 100%;
        @include laptop(){
            height: 510px;
        }
        @include tablet(){
            height: 367px;
        }
        @include mobile(){
            height: 288px;
        }
        &-img{
            display: block;
            border-radius: 12px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
    &__list{
        margin-top: 60px;
        justify-content: space-between;
        @include tablet(){
            margin-top: 48px;
        }
        @include mobile(){
            margin-top: 40px;
            padding: 0 16px;
            box-sizing: border-box;
        }
    }
}